<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] JadenHobby</title>
    <link rel="icon" type="image/png" href="~/Yin_and_Yang_symbol.png" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <h1 class="display-4">Explore Jaden's Hobbies</h1>
    <div>
        @RenderBody()
    </div>
    
    <footer>
        <!-- Your footer content goes here -->
        <p>&copy; 2024 Gatherum&Co. All rights reserved. | Built by Jaden Gatherum</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
