@{
    
}

<div class="text-center">

    <a asp-controller="Home" asp-action="SimpleCalc">Go to Second View</a>

    <p>Although I'm not very good, I love to play pickleball. Apparently everyone I know played tennis in high school 
        so they are mega good and I get completely destroyed every time. I really only play once every few months
        but I'm trying to play more!</p>
    <img src="Pickleball.jpg" />

    <p>Another hobby of mine is playing random sports like basketball, volleyball, or dodgeball. It's so fun
        when I can get a huge group together and do stuff like that. I've never played sports in high school, which
        I entirely regret because it's so much fun. '</p>
    <p>An additional hobby of mine is cooking. I love finding new recipes and cooking fancy meals. Right now my 
        favorite dish to make is Tikka Masala.My husband showed me this recipe and it is beyond good. I'm not used
        to eating spicier dishes but it is so good. '</p>
    <img src="TikkaMasala.jpg" height="400"/>
    <p>I don't know if this counts as a hobby but I love just talking to people, especially with deeper subjects
        I love having close personal connections to people and understanding people more. </p>
    <p>I also love snowboarding! My favorite place to snowboard is Brighton! Although the snow hasn't been very good
        this year </p>

</div>
